@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


* {
  font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2c4226;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #ecdf2b;
  margin-bottom: 0.5rem;
  font-family: "Jersey 10", sans-serif;
  font-size: 5rem;
}

.TodoWrapper {
  background: #212121;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: #878585;
  border: 1px solid #878585;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 500px;
  color: #fff;
  font-size: 2rem;
}

.todo-input::placeholder {
  color: white;
}

.todo-btn {
  background: #878585;
  color: #fff;
  border: 1px solid;
  padding: 0.55rem;
  cursor: pointer;
  font-size: 2rem;
}

.Todo {
  justify-content: space-between;
  background-color: #101010;
  border: 2px solid #555;
  border-radius: 6px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  color: white;
  box-shadow: 0 0 10px #000;
  animation: slideIn 4s ease-in;
  z-index: 1000;
  font-family: "Jersey 10", sans-serif;
  font-size: 2rem;
  margin-bottom: 12px;
}
@keyframes slideIn{
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #ffffff;
  cursor: pointer;
}

.completed {
  color: #ecdf2b;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
